body{
    @include flex(column);
    margin: 0;
    padding: 0;
    font-family: $firstFontFamily;
    min-height: 100vh;
}

main{
    @include flex(column);
    align-items: center;
    text-align: center;
    flex-grow: 1;
    margin : 40px;
}

p{
    font-size: $primaryFontSize;
}

h1{
    font-size: $tertiaryFontSize;
    color: $primaryColor;
    margin: 0;
}

h2{
    font-size: $secondaryFontSize;
    color: $secondaryColor;
    font-weight: bold;
    margin: 0;
}

h3{
    font-size: $primaryFontSize;
    color: $secondaryColor;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.game{
    text-align: center;
    background-color: $secondaryColor;
    border-radius: 30px;
    margin-bottom: 40px;
    padding: 30px;
    color: $tertiaryColor;
}

.propositionArea{
    color: $secondaryColor;
    font-size: $secondaryFontSize;
    font-weight: bold;
    background-color: $tertiaryColor;
    padding: 20px;
    border-radius: 20px;
}

.zoneProposition{
    display: flex;

    &__text{
        border: none;
        border-radius: 20px;
        resize: none;
        width: 100%;
        margin-right: 10px;
        line-height: 1;
        font-size: $primaryFontSize;
        font-family: $firstFontFamily;
        padding: 10px;
        
        &:focus{
            outline: none;
        }
    }
}

.game label{
    font-size: $primaryFontSize;
}
