.btn{
    color: $primaryColor;
    font-weight: bold;
    font-size: $primaryFontSize;

    &_white{
        background-color: $tertiaryColor;
    }

    &_border{
        border: none;

        &_rounded{
        border-radius: 8px;;
    }
    }

    &_padding{
        padding: 0.5rem;
    }
}
