.btn{
    font-weight: bold;
    font-size: $primaryFontSize;

    &_primaryFontColor{
        color: $primaryColor;
    }

    &_animationFontColor{
        color: black;
    }

    &_tertiaryColorBackground{
        background-color: $tertiaryColor;
    }

    &_animationBackgroundColor{
        background-color: grey;
    }

    &_border{
        border: none;

        &_rounded{
        border-radius: 8px;;
    }
    }

    &_padding{
        padding: 0.5rem;
    }

    &_shadow{
        box-shadow: 0px 0px 7px 2px ;
    }

    &:hover {
        color: $tertiaryColor;
        background-color: $primaryColor;
    }
}
