.popup{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    padding: 1rem  2.5rem 1rem 2.5rem;
    position: absolute;
    z-index: 2;
    font-family: $firstFontFamily;

    &_borderRounded{
        border-radius: 15px;
    }

    &__title{
        font-size: $secondaryFontSize;
        color: $tertiaryColor;
        font-weight: bold;
    }

    &__input{
        margin-bottom: 15px;
        border: none;
        border-radius: 20px;
        resize: none;
        width: 100%;
        line-height: 1;
        font-size: $primaryFontSize;
        font-family: $firstFontFamily;
        padding: 10px;

        &:focus{
            outline: none;
        }
    }

    &__clignotant{
        border: 4px solid white;  
        position: relative;
        transition: border-color 0.3s ease;

        &__animation:focus{
            animation: clignotement 1s infinite ;
        }
    }

    @keyframes clignotement {
        0%, 100% {
            border-color: #ff0000; /* Couleur de la bordure pendant le clignotement */
        }
        50% {
            border-color: #ccc; /* Couleur de la bordure entre les clignotements */
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Valeur z-index plus basse */
}